.root {
  li {
    display: inline-block;
    text-align: center;
    width: 45px;
    height: 45px;
    line-height: 38px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 30px;
  }
}